<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accelerate Metrics for <%= projectName %></title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://unpkg.com/mathjs@7.2.0/dist/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.23.1/humanize-duration.min.js"></script>
    <style type="text/css">
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Accelerate Metrics for <%= projectName %></h1>
<div id="deploy-freq"></div>
<div id="lead-time"></div>
<script type="application/javascript">
  const formatFreq = (freq) => {
    if (freq >= 277.8e-6) {
      return math.round((freq / 277.8) * 1e6, 1) + " per hour";
    }
    if (freq >= 11.57e-6) {
      return math.round((freq / 11.57) * 1e6, 1) + " per day";
    }
    if (freq >= 1.653e-6) {
      return math.round((freq / 1.653) * 1e6, 1) + " per week";
    }
    if (freq >= 385.8e-9) {
      return math.round((freq / 385.8) * 1e9, 1) + " per month";
    }
    if (freq >= 64.3e-9) {
      return math.round((freq / 64.3) * 1e9, 1) + " per 6 months";
    }
    if (freq >= 31.7e-9) {
      return math.round((freq / 31.7) * 1e9, 1) + " per year";
    }
    if (freq >= 3.171e-9) {
      return math.round((freq / 3.171) * 1e9, 1) + " per decade";
    }
    return freq;
  };

  Highcharts.chart("deploy-freq", {
    chart: {
      zoomType: "x",
    },
    title: {
      text: "Deploy Frequency",
    },
    subtitle: {
      verticalAlign: "bottom",
      html: true,
      text:
        document.ontouchstart === undefined
          ? "<i>(Click and drag in the plot area to zoom in)</i>"
          : "<i>(Pinch the chart to zoom in)</i>",
    },
    caption: {
      verticalAlign: "top",
      align: "center",
      style: { color: '#000000' },
      text: "How often does your organization deploy code to production or release it to end users?"
    },
    xAxis: {
      type: "datetime",
    },
    yAxis: {
      type: "logarithmic",
      title: {
        text: "<%= windowSize %>-day rolling average of deploy frequency",
      },
      labels: {
        formatter: function () {
          return formatFreq(this.value);
        },
      },
      tickPositions: [
        31.7e-9,
        64.3e-9,
        385.8e-9,
        1.653e-6,
        11.57e-6,
        277.8e-6,
      ].map((v) => Math.log10(v)),
    },
    tooltip: {
      pointFormatter: function () {
        return `<span style="color:${this.color}">●</span> ${
          this.series.name
        }: <b>${formatFreq(this.y)}</b><br/>`;
      },
    },
    series: [
      {
        type: "line",
        name: "Production",
        data: <%=deployFreqData%>,
      }
    ],
  });
</script>
<script>
  Highcharts.chart("lead-time", {
    chart: {
      zoomType: "x",
    },
    title: {
      text: "Lead Time",
    },
    subtitle: {
      verticalAlign: "bottom",
      html: true,
      text:
        document.ontouchstart === undefined
          ? "<i>(Click and drag in the plot area to zoom in)</i>"
          : "<i>(Pinch the chart to zoom in)</i>",
    },
    caption: {
      verticalAlign: "top",
      align: "center",
      style: { color: '#000000' },
      text: "What is your lead time for changes (i.e., how long does it take to go from code committed to code successfully running in production)?"
    },
    xAxis: {
      type: "datetime",
    },
    yAxis: {
      type: "logarithmic",
      title: {
        text: "<%= windowSize %>-day rolling average of lead time",
      },
      labels: {
        formatter: function () {
          return humanizeDuration(this.value, { largest: 1, round: true });
        },
      },
      tickPositions: [
        60000,
        3600000,
        86400000,
        604800000,
        2629800000,
        31557600000
      ].map((v) => Math.log10(v)),
    },
    tooltip: {
      pointFormatter: function () {
        return `<span style="color:${this.color}">●</span> ${
          this.series.name
        }: <b>${humanizeDuration(this.y, { largest: 2 })}</b><br/>`;
      },
    },
    series: [
      {
        type: "line",
        name: "Production",
        data: <%=leadTimeData%>,
      }
    ],
  });
</script>
</body>
</html>
